<!DOCTYPE html>
<html lang="en">
	<head>
		<link rel="stylesheet" href="/css/style.css"></style>
		<script src="https://code.jquery.com/jquery.js"></script>
		<title>Bagel Advent</title>
	</head>
	<body>
		{{{ body }}}

		<script src="/js/choice.js" type="text/javascript"></script>
	</body>
</html>
