<h1>Bagel Adventure</h1>


 <div>
        <form>
            {{#each scenarios}}
                <p id="situation">{{this.scenario}}</p>
                <button id="a" type="submit" value={{this.choiceA}}>{{splitScene this.scenario}}</button>
                <button id="b" type="submit" value={{this.choiceB}}>Sample text</button>
            {{/each}}
        </form>
        <script>
			});</script>
    </div>

